process {
    errorStrategy = { task.exitStatus in [140, 143, 137, 104] && task.attempt <= 3 ? 'retry' : 'finish' }
    process.ext.base_memory = 2.GB
    process.ext.base_time = 1.hours
    memory = { task.ext.base_memory * task.attempt }
    time = { task.ext.base_time * task.attempt }

    withLabel: short_time {
        ext.base_time = 30.minutes
    }
    withLabel: default_time {
        ext.base_time = 1.hours
    }
    withLabel: med_time {
        ext.base_time = 1.hours
    }
    withLabel: long_time {
        ext.base_time = 1.days
    }
    withLabel: xlong_time {
        ext.base_time = 1.days
    }

    withLabel: small_mem {
        ext.base_memory = 2.GB
    }
    withLabel: default_mem {
        ext.base_memory = 2.GB
    }
    withLabel: med_mem {
        ext.base_memory = 2.GB
    }
    withLabel: big_mem {
        ext.base_memory = 2.GB
    }
}